<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Styles/styles.css" rel="stylesheet" />
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-firestore.js"></script>
    <script src="Scripts/vue.js"></script>
    
</head>
<body>

    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">

                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">

                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>


    <script type="text/x-template" id="request-item">
        <tr>
            <td style="width: 500px;">
                <div class="title">{{list.CusName}}</div>
            </td>
            <td style="width: 273px;">
                <div class="time">{{list.Time}}</div>
            </td>
            <td style="width:442px;">
                <div class="items">
                    <ul style="list-style: none;padding: 0px;padding-left: 44px;font-size: 32px;">
                        <li v-for="a in list.Items">{{a.Name}}</li>
                    </ul>
                </div>
            </td>           
            <td style="width: 296px;">
                <div class="quantity">
                    <ul>
                        <li v-for="a in list.Items">{{a.Qty}}</li>
                    </ul>
                </div>
            </td>
            <td style="width: 218px;">
                <div class="action confirm-btn" @click="onComplete(list.id)"></div>
            </td>
        </tr>
    </script>


    <div class="container">
        <div class="customer-box" id="box">
            <modal v-if="showModal" @close="showModal = false">
                <h3 slot="header">Confirmation</h3>
                <p style="text-align: center;font-size: 32px;" slot="body">Are you sure you want to complete this order?</p>
                <div style="text-align:center;" slot="footer">
                    <button class="btn btn-ok" @click="okModal">OK</button>
                    <button style="padding: 22px 70px;" class="btn btn-ok" @click="closeModal">Cancel</button>
                </div>
            </modal>

            <div class="customer-grid-wrapper">
                <div class="customer-grid">
                    <table style="font-family: segoe ui;color: white;">
                        <tbody>
                            <tr is="request-item" v-for="a in items" @complete="complete(a.id)" v-bind:list="a"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
    <script>


        var config = {
            apiKey: "AIzaSyD3rpMA8421Sh3O9qk474yl2WQTqQF7AoY",
            authDomain: "dialogtcafe.firebaseapp.com",
            databaseURL: "https://dialogtcafe.firebaseio.com",
            projectId: "dialogtcafe",
            storageBucket: "dialogtcafe.appspot.com",
            messagingSenderId: "656907385595"
        };

        Vue.component('modal', {
            template: '#modal-template'
        })

        Vue.filter('dealtime', function (value) {
            if (!value) return ''
            value = value.toString()
            return value.charAt(0).toUpperCase() + value.slice(1)
        })



        Vue.component('request-item', {
            template: '#request-item',
            props: ['list'],
            methods: {
                onComplete: function (id) {

                    this.$emit('complete', id)
                 
                }
            }
        });

        new Vue({
            el: '#box',
            data: {
                items: [],
                showModal: false,
                lastId: ''
            },
            created: function () {
                var self = this;
                firebase.initializeApp(config);


                var db = firebase.firestore();

                db.collection("Orders")
                    .onSnapshot(function (snapshot) {
                        snapshot.docChanges().forEach(function (change) {
                            if (change.type === "added") {
                                var item = change.doc.data();
                                item.id = change.doc.id;
                                self.items.push(item);
                            }
                        });


                    });
            },
            methods: {
                closeModal: function () {
                    this.showModal = false;
                },
                complete: function (id) {
                    this.showModal = true;
                    this.lastId = id;
                    

                },
                okModal: function () {
                    this.showModal = false;

                    this.items = this.items.filter(x=>x.id != this.lastId)

                    var self = this;

                    var db = firebase.firestore();

                    db.collection("Orders")
                        .doc(this.lastId)
                      .delete()
                      .then(function () {

                      }).catch(function (error) {

                      });

                }
                
            }
        })

    </script>
</body>
</html>
